new
<%= form_for :department, url: department_path(@department), method: :post do |f| %>

  <% if @department.errors.any? %>
    <% @department.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>>
  <% end %>>

  <p>
    Title <br>
    <%= f.text_field(:title, class:  'form-control') %>
  </p>
  <p>
    <%= f.submit(class:  'btn btn-success')%>
  </p>
<% end %>