= form_for :department, url: departments_path do |f|
  %p
    Title
    %br/
    = f.text_field(:title, class: 'form-control')
  %p
    Cover img
    %br/
    = f.file_field(:cover_img)
  %p
    = f.submit(class: 'btn btn-success')
