<h3>Editing</h3>
<%= form_for :plan, url: plan_path(@plan), method: :put do |f| %>

  <p>
    First name <br>
    <%= f.text_field(:title, class: 'form-control') %>
  </p>
  <p>
    <%= f.submit(class: 'btn btn-success') %>
  </p>
<% end %>